<html lang="en">
<body>
<h1>Event is no longer available</h1>
<p>Dear {{username}}:<br/>
<p>The event for which you have attempted to book is no longer available</p>
<hr/>
<p>Go to <a href="{{eventLink}}">{{eventLink}}</a> to see the status of the event</p>
</body>
</html>