<html lang="en">

<body>
<h1>Booking for event has been created</h1>
<p>Dear {{username}}:</p>
<p>Thank you for booking this event. To confirm your booking, please click <a href="{{confirmationLink}}">Confirm</a></p>
<p>Enjoy your event</p>
<p>Go to <a href="{{eventLink}}">{{eventLink}}</a> for updates on the event</p>
<p>To see current status of your booking, go to <a href="{{bookingLink}}">{{bookingLink}}</a></p>
</body>

</html>