<html lang="en">
<body>
<h1>Event Has Been Updated</h1>
<p>Dear {{username}}:<br/>
We wanted to let you know that the event you are currently booked for has been updated.</p>
<hr/>
<p>Go to <a href="{{eventLink}}">{{eventLink}}</a> to see the status of the event<br/>
Go to <a href="{{bookingLink}}">{{bookingLink}}</a> to see the status of your booking</p>
</body>
</html>