<html lang="en">
<body>
<h1>Booking for event has been selected</h1>
<p>Dear {{username}}:<br/>
Thank you for selecting this event. Your booking is awaiting confirmation.</p>
<hr/>
<p>To confirm your booking, please click <a href="{{confirmationLink}}">Confirm</a></p>
<em>Enjoy the event!</em>
<hr/>
<p>Go to <a href="{{eventLink}}">{{eventLink}}</a> to see the status of the event</p>
<p>Go to <a href="{{bookingLink}}">{{bookingLink}}</a> to see the status of your booking</p>
</body>
</html>