<html lang="en">
<body>
<h1>Booking For Event Has Been Cancelled</h1>
<p>Dear {{username}}:<br/>
A booking for an event you were interested in has been cancelled.</p>
<hr/>
<p>Go to <a href="{{eventLink}}">{{eventLink}}</a> to see the status of the event</p>
<p>Go to <a href="{{bookingLink}}">{{bookingLink}}</a> to see the cancelled booking</p>
</body>
</html>