#CONFIG_USERNAME=<used by event-service-config,api-gateway,booking-service,event-service,notification-service>
#CONFIG_PASSWORD=<used by event-service-config,api-gateway,booking-service,event-service,notification-service>

#DISCOVERY_USER=<used by all submodule services, in spring-profile=local_discovery>
#DISCOVERY_PASSWORD=<used by all submodule services, in spring-profile=local_discovery>

#KC_ADMIN=<optional, has defaults, used in keycloak and postgres containers>
#KC_ADMIN_PASSWORD=<optional, has defaults, used in keycloak and postgres containers>

#OAUTH2_CLIENT_ID=<used in keycloak container, openapi/swagger, api-gateway, booking-service, event-service, and notification-service>
#OAUTH2_CLIENT_SECRET=<used in keycloak container, openapi/swagger, api-gateway, booking-service, event-service, and notification-service>

#PG_PASSWORD=<used in postgres and keycloak containers>

#BOOKINGS_ADMIN_DB_USER=<used in booking service>
#BOOKINGS_ADMIN_DB_PASSWORD=<used in booking service>
##BOOKINGS_DB_USER=<used in booking service>
#BOOKINGS_DB_PASSWORD=<used in booking service>

#EVENTS_ADMIN_DB_USER=<used in event service>
#EVENTS_ADMIN_DB_PASSWORD=<used in event service>
#EVENTS_DB_USER=<used in event service>
#EVENTS_DB_PASSWORD=<used in event service>

#NOTIFICATIONS_ADMIN_DB_USER=<used in notification service>
#NOTIFICATIONS_ADMIN_DB_PASSWORD=<used in notification service>
#NOTIFICATIONS_DB_USER=<used in notification service>
#NOTIFICATIONS_DB_PASSWORD=<used in notification service>

# See https://docs.spring.io/spring-framework/reference/integration/email.html
#MAIL_HOST=<used in notification service, needed for mail service>
#MAIL_PORT=<used in notification service, needed for mail service>
#MAIL_USERNAME=<used in notification service, needed for mail service>
#MAIL_PASSWORD=<used in notification service, needed for mail service>
#MAIL_MESSAGE_FROM=<used in notification service, needed for mail service>

#REDIS_PASSWORD=<used by redis container and api-gateway>

#ELASTIC_PASSWORD=<used by multiple ELK containers>
#KIBANA_PASSWORD=<used by multiple ELK containers>
#ELK_STACK_VERSION=<used by logstash, elasticsearch, and kibana. current version in use is 9.0.1>
#ELK_CLUSTER_NAME=<used by elasticsearch>
#ELASTIC_LICENSE=<use basic as default>
#KIBANA_ENCRYPTION_KEY=<used in kibana container.  must be at least 32 characters long>


