<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <springProfile name="!compose &amp; !ssl_compose" >

    <property name="LOG_DIR" value="${user.dir}/logs"/>
    <property name="LOG_FILE" value="booking-service" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender" >
      <withJansi>true</withJansi>
      <encoder>
        <pattern>%green(%d{HH:mm:ss.SSS}) %boldBlue([%thread]) %highlight(%-5level) %cyan(%logger{36}) - %msg %n</pattern>
      </encoder>
    </appender>

    <appender name="FILE"
      class="ch.qos.logback.core.rolling.RollingFileAppender" >
      <file>${LOG_DIR}/${LOG_FILE}.log</file>
      <rollingPolicy
        class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
        <!--rollover daily-->
        <FileNamePattern>${LOG_DIR}/${LOG_FILE}-%d{yyyy-MM-dd}.log.gz</FileNamePattern>
        <MaxHistory>3</MaxHistory>
        <TotalSizeCap>100MB</TotalSizeCap>
      </rollingPolicy>

      <encoder
        class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
          <mdc/> <!-- MDC variables on the Thread will be written as JSON fields -->
          <context/> <!--Outputs entries from logback's context -->
          <version/> <!-- Logstash json format version, the @version field in the output -->
          <logLevel/>
          <loggerName/>

          <pattern>
            <pattern>
              {
              "serviceName": "booking-service"
              }
            </pattern>
          </pattern>

          <threadName/>
          <message/>
          <logstashMarkers/>
          <stackTrace/>
        </providers>
      </encoder>
    </appender>

    <logger name="piper1970.bookingservice" level="DEBUG">
      <appender-ref ref="FILE"/>
      <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
      <appender-ref ref="FILE"/>
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>

  <springProfile name="compose | ssl_compose">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>%green(%d{HH:mm:ss.SSS}) %boldBlue([%thread])
          %highlight(%-5level) %cyan(%logger{36}) - %msg %n
        </pattern>
      </encoder>
    </appender>

    <appender name="STASH"
      class="net.logstash.logback.appender.LogstashTcpSocketAppender">
      <destination>logstash:5044</destination>
      <encoder
        class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
          <mdc/> <!-- MDC variables on the Thread will be written as JSON fields -->
          <context/> <!--Outputs entries from logback's context -->
          <version/> <!-- Logstash json format version, the @version field in the output -->
          <logLevel/>
          <loggerName/>

          <pattern>
            <pattern>
              {
              "serviceName": "booking-service"
              }
            </pattern>
          </pattern>

          <threadName/>
          <message/>
          <logstashMarkers/>
          <stackTrace/>
        </providers>
      </encoder>
    </appender>

    <logger name="piper1970.bookingservice" level="DEBUG">
      <appender-ref ref="STASH"/>
      <appender-ref ref="STDOUT"/>
    </logger>

    <root level="INFO">
      <appender-ref ref="STASH"/>
      <appender-ref ref="STDOUT"/>
    </root>
  </springProfile>

</configuration>