<html lang="en">

<body>
<h1>Booking Has Been Updated</h1>
<p>Dear {{username}}:</p>
<p>We wanted to let you know that the event for your current booking has been updated.</p>
<p>Go to <a href="{{eventLink}}">{{eventLink}}</a> to see the updated info for your event</p>
<p>To see the current status of your booking, go to <a href="{{bookingLink}}">{{bookingLink}}</a></p>
<p>{{message}}</p>
</body>

</html>