<html lang="en">

<body>
<h1>Event Has Been Cancelled</h1>
<p>Dear {{username}}:</p>
<p>We regret to inform you that an event you were previously booked for has been cancelled.</p>
<p>Go to <a href="{{eventLink}}">{{eventLink}}</a> for updates on the event</p>
<p>To see status of booking, go to <a href="{{bookingLink}}">{{bookingLink}}</a></p>
</body>

</html>